<!DOCTYPE html>
<html>
<head>
    <!-- 1. Zeichensatz (Pflichtangabe, sollte immer an erster Stelle stehen) -->
    <meta charset="UTF-8">
    <!-- 2. Viewport (Sorgt für die korrekte Darstellung auf Mobilgeräten) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 3. Seitenbeschreibung (Wird oft in den Google-Suchergebnissen angezeigt) -->
    <meta name="description" content="Dies ist eine kurze Zusammenfassung der Webseite.">
    <!-- 4. Robots (Steuert, ob Suchmaschinen die Seite indexieren dürfen) -->
    <meta name="robots" content="index, follow">
    <!-- 5. Autor (Optional: Gibt den Ersteller der Seite an) -->
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="author" content="Louis Campanale">
    <title>Über mich</title>
</head>
<body>
    <nav class="nav">
        <a href="index.html">Startseite</a>
        <a href ="aboutme.html"> About me</a>
        <a href ="projects.html"> Projekte</a>
        <a href="contact.html">Kontakt</a>
    </nav>
    <main class="main_about"> 
        <section class = "hero">
            <h2>Über mich</h2>
            <p>Hi, ich bin Louis! Ich bin leidenschaftlicher Informatiker mit Schwerpunkt auf Anwendungsentwicklung.</p>
        </section>
        <div class ="img1"><img src="../static/images/IMG_4299.JPG" alt="Projekt 1"></div>
        <section class="about_content">
            <h2>Meine Interessen</h2>
            <p>Ich bin leidenschaftlicher Informatiker, während der Arbeit, sowie in meiner Freizeit. Abgesehen davon spiele ich für mein leben gerne Videospiele, schaue Filme
                oder Serien. Bücher lese ich auch gerne wobei mein Fokus auf Fantasy liegt. Bin ich nicht mit programmieren, gamen oder lesen beschäftigt, Häkel ich gerne. Derzeit arbeite ich an
                einer Decke. Begleitet werde ich dabei von meine Kätzchen. Sie heißt Nille</p>
        </section>
        <section class="nille">
            <section class ="nille_text">
                <h2>Nille</h2>
                <p>Nille liegt nicht nur gerne in lustigen Positionen. <br>Sie liebt es auch weit oben zu sein oder sich in die kleinsten Kisten zu quetschen</br></p>
            </section>
            <section class="nille_img">    
                <div class="img2"><img src="../static/images/Nille/IMG_4107.JPEG" alt="Nille"></div>
                <div class="img3"><img  src="../static/images/Nille/IMG_3219.JPEG" alt="Nille"></div>
                <div class="img4"><img src="../static/images/Nille/IMG_4242.JPEG" alt="Nille"></div>
            </section>
        </section>
    </main>
    <footer>
        <hr id="hr_footer">
        <p>Copyright © Louis Campanale 2026</p>
   </footer>
</body>
</html>