<!DOCTYPE html>
<html>

<head>
    <title>Bewerbungsseite</title>
</head>

<body>
<header>
    <h1>Louis Campanale</h1>
</header>

    <nav>
        <a href="index.html">Startseite</a>
        <a href ="projects.html"> Porjekte</a>
        <a href="contact.html">Kontakt</a>
    </nav>

    <main>
        <h2>Willkommen auf meiner Website</h2>
        <p>Hier möchte ich Ihnen mich als Person und einge meiner Projekte vorstellen</p>
    </main>

    <footer>
        <p>Copyright Louis Campanale 2026</p>
    </footer>

</body>
</html>