<!DOCTYPE html>
<html>

<head>
    <title>Meine Webseite</title>
<body>
             <!-- 1. Zeichensatz (Pflichtangabe, sollte immer an erster Stelle stehen) -->
    <meta charset="UTF-8">

    <!-- 2. Viewport (Sorgt für die korrekte Darstellung auf Mobilgeräten) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 3. Seitenbeschreibung (Wird oft in den Google-Suchergebnissen angezeigt) -->
    <meta name="description" content="Dies ist eine kurze Zusammenfassung der Webseite.">

    <!-- 4. Robots (Steuert, ob Suchmaschinen die Seite indexieren dürfen) -->
    <meta name="robots" content="index, follow">

    <!-- 5. Autor (Optional: Gibt den Ersteller der Seite an) -->
    <meta name="author" content="Louis Campanale">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <header class = "header">
        <h1>Louis Campanale</h1>
    </header>

        <nav class = "nav">
            <a href="index.html">Startseite</a>
            <a href ="aboutme.html"> About me</a>
            <a href ="projects.html"> Projekte</a>
            <a href="contact.html">Kontakt</a>   
        </nav>

    <main>
        <section class ="hero">

            <h2>Hi, ich bin Louis</h2>
            <pre class ="hero_pre"> Fachinformatiker für Anwendungsentwicklung mit Interesse an Python, Netzwerken und selbstgehosteten Systemen. 
                Last uns gemeinsam spannende Projekte umsetzen und die Welt der Technologie erkunden!
            </pre>
            <button onclick="location.href='aboutme.html'">Mehr Erfahren</button>
        </section>
        <section class = "sidebar">
        <h2>Sidebar</h2>

    </main>

    <section class ="footer">
        <footer>
            <hr id="hr_footer">
            <p>Copyright © Louis Campanale 2026</p>
        </footer>
    </section>

</body>
</html>
