<!DOCTYPE html>
<html>

<head>
    <title>Bewerbungsseite</title>
</head>

<body>
<header>
    <h1>Louis Campanale</h1>
</header>

    <nav>
        <a href="index.html">Startseite</a>
        <a href ="projects.html"> Porjekte</a>
        <a href="contact.html">Kontakt</a>
    </nav>

    <main>
        <section class ="hero">

            <h1 style ="text-align:center">Hi, ich bin Louis</h1>
            <pre style ="text-align:center;font-size:20px"> Fachinformatiker für Anwendungsentwicklung mit Interesse an Python, Netzwerken und selbstgehosteten Systemen. </pre>
            <button>Mehr Erfahren</button>
        </section>
    </main>

        <section class = "me">
            <h2>About me</h2>
            <p></p>
        </section>

    <footer>
        <p>Copyright © Louis Campanale 2026</p>
    </footer>

</body>
</html>